@font-face {
    font-family: "Anton SC Regular";
    src: url("Fuentes/Anton_SC/antonsc-regular-webfont.woff2") format("woff2"),
        url("Fuentes/Anton_SC/antonsc-regular-webfont.woff") format("woff"),
        url("Fuentes/Anton_SC/AntonSC-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

li {
    list-style-type: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Anton SC Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url("Images/buenaburger-facade-bg-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px -6px 20px;
}

#header-div {
    width: 100%;
    height: 44px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

h1 {
    display: none;
}

#header-logo {
    width: 84px;
    height: auto;
    border-radius: 0;
}

#header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburguer-menu-icon {
    width: 8%;
    display: block;
    cursor: pointer;
}

#hamburguer-menu-icon.active {
    cursor: pointer;
}

.bar {
    display: block;
    max-width: 36px;
    height: 3px;
    margin: 5px auto;
    background-color: #1d56bf;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#hamburguer-menu-icon.active .bar:nth-child(1) {
    opacity: 0;
}

#hamburguer-menu-icon.active .bar:nth-child(2) {
    transform: translateY(4px) rotate(45deg);
}

#hamburguer-menu-icon.active .bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
}

a {
    all: unset;
    cursor: pointer;
}

nav {
    font-size: 1.125rem;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 60px;
    left: 0;
    gap: 0;
    text-align: center;
    box-shadow: inset 0px 8px 24px lightgrey;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

nav.active {
    transform: translateX(0px);
    transition-delay: .2s;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 36px;
    margin-bottom: 36px;
}

nav ul li {
    color: #1d56bf;
}

/* ============ HEADER ============ */

main {
    padding-top: 80px;
    text-align: center;
}

.top-page-div {
    padding-top: 24px;
    padding-bottom: 24px;
}

h2 {
    font-family: "Anton SC Regular", sans-serif;
    font-size: 2.5rem;
}

h3 {
    font-family: "Anton SC Regular", sans-serif;
    font-size: 2rem;
    line-height: 1.125;
}

.blue-underline {
    text-decoration: underline;
    text-decoration-color: #1d56bf;
}

.blue-text {
    color: #1d56bf;
}

p {
    font-family: sans-serif;
    font-size: 1rem;
}

.grey-text, p {
    color: rgb(39, 39, 39);
}

.small-title {
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.top-page-div {
    padding-left: 8%;
    padding-right: 8%;
}

.common-section, .common-section-white-bg {
    font-family: sans-serif;
    padding-top: 64px;
    padding-bottom: 24px;
    padding-left: 8%;
    padding-right: 8%;
    text-align: left;
}

.common-section-white-bg {
    background-color: white;
}

#section-div-bottom-svg-top {
    margin-bottom: -8vh;
}

iframe {
    border-radius: 8px;
}

/* ============ INDEX ============ */

#home-main .common-section, 
#home-main .common-section-white-bg {
    text-align: center;
}

#home-main .top-page-div {
    padding-top: 96px;
}

#home-main section {
    padding-bottom: 64px;
}

#home-main h2 {
    line-height: 1.125;
}

#home-main h3 {
    font-size: 2.5rem;
}

#section-statement-img {
    margin-top: 36px;
    margin-bottom: 36px;
}

#section-statement .section-div-text {
    padding-bottom: 2rem;
}

#section-cards-svg-top {
    margin-top: -8vh;
    margin-bottom: -6vh;
}

.section-card {
    width: 100%;
    max-height: 840px;
    min-height: 480px;
    margin-top: 48px;
    margin-bottom: 48px;
    overflow: hidden;
    position: relative;
}

.section-card a {
    all: unset;
}

.section-card h3 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.section-card-div-img {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.section-card img {
    width: 100%;
    margin: 0 auto;
    height: auto;
    object-fit: cover;
    border-radius: 0;
    transition: transform 0.75s ease;
}

.section-card:hover img {
    transform: scale(1.1);
}

#section-hace-tu-pedido-div-content p {
    padding-bottom: 2rem;
}

#section-contact-svg-top {
    margin-bottom: -8vh;
}

#home-section-contact-div-text {
    text-align: left;
}

#home-section-contact-div-text h3 {
    font-size: 2rem;
    margin-bottom: 12px;
}

#home-section-contact-div-text ol, 
#home-section-contact-div-text p {
    margin-top: 12px;
    margin-bottom: 36px;
    font-size: clamp(0.875rem, 1.5vw, 1rem);
}

.span-days {
    font-weight: bold;
}

#home-main .iframe-maps-ubication {
    margin-top: 24px;
}

/* ============ MENU ============ */

#section-menu-div-menus-wrap ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 36px;
    text-align: center;
    list-style-type: none;
}

.wrap-menu-item {
    display: inline-block;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 1.125rem;
    font-weight: bold;
    color: #1d56bf;
    background-color: white;
    border: 2px solid #1d56bf;
    transition: color .3s ease;
    transition: -webkit-text-stroke .3s ease;
    transition: background-color .3s ease;
}

.wrap-menu-item:hover, .selected-wrap-menu-item {
    color: white;
    background-color: #1d56bf;
}

.menu-section-hidden {
    display: none;
}

#reset-wrap-menu {
    display: none;
    all: unset;
}

#reset-wrap-menu.active {
    display: block;
    position: absolute;
    width: 24px;
    height: 36px;
    margin-left: 8px;
    cursor: pointer;
}

.reset-wrap-menu-bar {
    display: block;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#reset-wrap-menu.active .reset-wrap-menu-bar {
    position: absolute;
    width: 100%;
    height: 2px;
    opacity: 1;
    background-color: black;
    transform-origin: center;
}

.reset-wrap-menu-bar:nth-child(1) {
    transform: rotate(45deg);
}

.reset-wrap-menu-bar:nth-child(2) {
    transform: rotate(-45deg);
}

.menu-section {
    padding-top: 12px;
    padding-bottom: 12px;
}

.menu-item-li {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ============ NOSOTROS ============ */

.section-div-text {
    margin-top: 12px;
    margin-bottom: 12px;
}

#nosotros-main-div-bottom-div-image {
    padding-top: 24px;
    padding-bottom: 24px;
}

.blue-button {
    all: unset;
    font-family: "Anton SC Regular", sans-serif;
    font-size: 1.25rem;
    color: white;
    margin: 0 auto;
    margin-top: 16px;
    padding-top: 23px;
    padding-bottom: 15px;
    padding-left: 28px;
    padding-right: 28px;
    position: relative;
    background-color: #1d56bf;
    cursor: pointer;
    border-radius: 6px;
}

.blue-button:hover {
    background-color: #133b86;
}

button a {
    all: unset;
    display: flex;
    align-content: center;
}

.button-arrow {
    width: 14px;
    height: 19px;
    margin-left: 12px;
    animation: move 1s linear infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(32%); /* Move to the right */
    }
    100% {
        transform: translateX(0); /* Move back to the left */
    }
}

.page-bottom-padding-white {
    display: block;
    width: 100%;
    height: 2vh;
    background-color: white;
}

.iframe-maps-ubication {
    max-width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

#div-nosotros-horarios {
    padding-bottom: 12px;
}

#div-nosotros-horarios h3 {
    margin-bottom: 16px;
}

#div-nosotros-direccion {
    padding-top: 12px;
}

#div-nosotros-direccion h3 {
    margin-bottom: 16px;
}

/* ============ GALERÍA ============ */

#div-galeria {
    padding-top: 32px;
}

#galeria-div-button-ver-menu {
    padding-top: 3rem;
    padding-bottom: 32px;
    text-align: center;
}

/* ============ CONTACTO ============ */

#contact-form {
    margin-top: 64px;
}

.form-div-subject {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: bold;
}

.form-div-subject label {
    margin-bottom: 4px;
}

.form-div-subject input {
    height: 36px;
    font-size: 16px;
    margin-top: 4px;
}

.form-div-subject textarea {
    font-family: sans-serif;
    height: 144px;
    font-size: 16px;
}

#div-contact-form-button {
    text-align: right;
}

#contact-options {
    margin-top: 36px;
    margin-bottom: 64px;
}

.contact-option {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.contact-option img, .contact-option svg {
    display: block;
    height: 24px;
    width: auto;
    margin-right: 8px;
}

.contact-option img {
    border-radius: 0;
}

.contact-option p {
    font-size: 1rem;
}

/* ============ FOOTER ============ */

footer {
    font-family: sans-serif;
    color: white;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 48px;
    padding-left: 8%;
    padding-right: 8%;
    margin: 0 auto;
    background-color: black;
}

footer h4 {
    font-size: 1.25rem;
}

footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-section {
    margin-top: 32px;
    margin-bottom: 32px;
}

#footer-div-top-logo {
    width: 144px;
    height: auto;
    align-self: center;
    border-radius: 0;
}

#footer-div-top-contacto ul{
    margin-top: 16px;
}

#footer-div-top-contacto ul li {
    margin-top: 8px;
    margin-bottom: 8px;
}

#footer-div-top-information ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
}

#footer-div-top-information li {
    margin-top: 8px;
    margin-bottom: 8px;
}

#footer-top-seguinos ul {
    margin-top: 16px;
    display: flex;
}

#footer-top-seguinos li {
    margin-left: 8px;
    margin-right: 8px;
}

#footer-top-seguinos img {
    width: 1.5rem;
    height: auto;
}

footer hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

#footer-p-copyright {
    color: white;
    text-align: center;
}

/* ===== TABLETS ==== */

@media (min-width: 768px) {
}

/* ===== DESKTOP ==== */

@media (min-width: 992px) {
    svg {
        display: block;
    }

    #header-div {
        width: 80%;
        max-width: 90rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 36px;
        font-size: 1rem;
    }

    #header-logo {
        width: 96px;
    }

    #hamburguer-menu-icon {
        display: none;
    }

    nav {
        width: auto;
        position: inherit;
        top: 0;
        left: 0;
        box-shadow: none;
        transition: none;
        transform: none;
    }

    nav ul {
        flex-direction: row;
        margin: 0 auto;
        gap: 36px;
    }

    .nav-li-element {
        background: 
           linear-gradient(currentColor 0 0) 
           var(--d, 201%) 100% /200% 2px 
           no-repeat;
      }
      
    .nav-li-element:hover {
        --d: -101%;
        transition: 0.75s
    }

    nav ul a {
        font-size: 1.125rem;
    }

    .common-section-white-bg {
        padding-top: 0;
    }

    .common-section-content-div {
        max-width: 90rem;
        margin: 0 auto;
    }

    h2 {
        font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    }

    h3 {
        font-size: clamp(2.4375rem, 3vw, 2.75rem);
    }

    #section-statement {
        width: 80%;
        max-width: 90rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
    }

    .top-page-div {
        margin-top: 12vh;
        margin-bottom: -6vh;
    }

    .blue-button {
        font-size: clamp(1.25rem, 2vw, 1.75rem);
    }


    .button-arrow {
        width: auto;
        height: 1.75vw;
        max-height: 24px;
        margin-top: 2px;
    }

    p {
        font-size: clamp(1rem, 1.5vw, 1.25rem);
    }

    .small-title {
        font-size: clamp(0.875rem, 1.5vw, 1.25rem);
        margin-bottom: 16px;
    }

    .iframe-maps-ubication {
        width: 100%;
    }

    #footer-div-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 6%;
        max-width: 90rem;
        margin: 0 auto;
    }

    #footer-div-top-logo {
        width: 144px;
        height: auto;
        align-self: start;
        border-radius: 0;
    }

    .footer-section {
        margin-top: 0;
    }

    #footer-div-top-information ul {
        max-width: 100%;
        display: block;
    }

    #footer-div-top-information li {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    footer hr {
        max-width: 90rem;
        margin: 0 auto;
    }

    #footer-p-copyright {
        text-align: center;
        font-size: .875rem;
        max-width: 90rem;
        margin: 0 auto;
        margin-top: 32px;
    }

    /* ==== INDEX ==== */

    #home-main section {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #home-main #section-statement {
        margin-top: 4vh;
        margin-bottom: -10vh;
        padding-bottom: 0;
    }

    #home-main .top-page-div {
        width: 52%;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #home-main h3 {
        font-size: clamp(2.4375rem, 4vw, 3.8125rem);
    }

    #section-statement-img {
        width: 48%;
        margin-left: 48px;
    }

    #section-cards-svg-top {
        margin-top: 3vh;
        margin-bottom: -12vh;
    }

    #section-cards .section-div-text {
        width: 64%;
        margin: 0 auto;
        padding-top: 16px;
    }

    #section-cards-div {
        display: flex;
        justify-content: space-between;
        gap: 4%;
        margin: 0 auto;
        padding-left: 4%;
        padding-right: 4%;
    }

    #section-cards-div .section-div-text {
        width: 90%;
        margin: 0 auto;
        padding-top: 8px;
    }

    #section-cards .section-card-div-text h3 {
        font-size: clamp(2rem, 2.25vw, 2.75rem);
        padding-top: 16px;
    }

    #section-cards .section-div-text p {
        font-size: 1rem;
    }

    #section-cards-svg-bottom {
        margin-top: -8vh;
        margin-bottom: -8vh;
    }

    #section-hace-tu-pedido-div-content {
        width: 70%;
    }

    #section-hace-tu-pedido-div-content p {
        width: 50%;
        margin: 0 auto;
    }

    #section-contact-svg-top {
        margin-top: 4vh;
        margin-bottom: -12vh;
    }

    #section-contact-top {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        gap: 8%;
    }

    #section-contact-top h3 {
        font-size: clamp(1.75rem, 2.5vw, 2.4375rem);
    }

    #section-contact-img-hamburgueseria {
        width: 450px;
        position: relative;
        margin-top: -40px;
        border-radius: 8px;
        z-index: 1;
    }

    /* ==== MENU ==== */

    #section-div-bottom-svg-top {
        margin-top: 4vh;
        margin-bottom: -16vh;
    }

    .menu-item-li h4 {
        font-size: clamp(1.25rem, 1.5vw, 1.75rem);
    }

    hr {
        position: relative;
        z-index: 1000;
    }

    /* ==== CONTANT ==== */

    #nosotros-section-contact .common-section-content-div {
        display: flex;
        justify-content: space-between;
        gap: 4%;
        margin: 0 auto;
    }

    #nosotros-main-div-bottom-content {
        max-width: 90rem;
        display: flex;
        justify-content: space-between;
        gap: 4%;
        padding-bottom: 8vh;
    }

    #nosotros-main-div-bottom-content img {
        max-width: 40%;
    }

    #nosotros-section-contact iframe {
        max-width: 40%;
    }

    /* ==== GALERIA ==== */

    #div-galeria {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        text-align: center;
    }

    .div-galeria-column {
        max-width: 32%;
    }
    
    .div-galeria-column img {
        margin-top: 1vh;
        margin-bottom: 1vh;
        border-radius: 8px;
    }

    /* ==== CONTACTO ==== */

    .contact-option p {
        font-size: 1.25rem;
    }
}